@import "variables.css";
@import "form.css";
@import "main.css";
@import "section.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;

    > button {
        margin: 20px;
        width: calc(100% - 40px);
    }
}

.visually-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}