:root {
    --red: #DB2524;
    --blue: #003A8C;
    --beige: #F7E4C6;
    --gray: #EAEAE2;
    --black: #212C26;
    --white: #fff;

    /* https://stackoverflow.com/questions/59250927/box-shadow-with-rgba-variable */
    --black-shadow: 33, 44, 36;

    --trans4: .4s;
}

.f-14 {
    font-size: 18px;
    line-height: 30px;
}

.btn-primairy {
    padding: 10px 20px;
    background-color: var(--blue);
    border: 1px solid var(--blue)
}

.btn-primairy-outline {
    padding: 10px 20px;
    border: 1px solid var(--blue);
    border-radius: 15px;
    color: var(--blue);
    font-weight: bold;
    text-align: center;
}